*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

.clearfix:before, header:before, main:before, main .previews:before, .clearfix:after, header:after, main:after, main .previews:after {
  content: " ";
  display: table;
}
.clearfix:after, header:after, main:after, main .previews:after {
  clear: both;
}

embed, object, iframe, img {
  display: block;
  border: none;
  height: auto;
  max-width: 100%;
}

h1, h2 {
  color: #669966;
  font-weight: 300;
  margin: 0 0 12px 0;
}

h1 {
  font-size: 40px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 32px;
    line-height: 37px;
  }
}

h2 {
  font-size: 35px;
}
@media (max-width: 600px) {
  h2 {
    font-size: 23px;
  }
}

img {
  padding: 0;
  margin: 0;
  vertical-align: middle;
  max-width: 100%;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #669966;
}
a:hover {
  text-decoration: underline;
}

body {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
  padding: 20px 0;
  margin: 0;
}
@media (max-width: 599px) {
  header {
    padding: 10px 0;
  }
}
@media (min-width: 600px) and (max-width: 1000px) {
  header {
    padding: 20px;
  }
}
header nav {
  float: right;
}
@media (max-width: 599px) {
  header nav {
    width: 100%;
  }
}
header nav ul {
  text-align: right;
  margin: 10px 0;
  padding: 0;
}
@media (max-width: 599px) {
  header nav ul {
    text-align: center;
  }
}
header nav ul li {
  display: inline-block;
  padding: 0 10px;
}
header nav ul li.current-menu-item a {
  color: black;
}
header .logo {
  float: left;
  font-size: 30px;
}
@media (max-width: 599px) {
  header .logo {
    text-align: center;
    width: 100%;
  }
}
header .banner {
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}
main .previews {
  padding-top: 15px;
}
@media (max-width: 599px) {
  main .previews {
    text-align: center;
  }
}
@media (min-width: 600px) {
  main .previews {
    margin: 0 -15px;
  }
}
main .previews .preview {
  display: block;
  max-width: 450px;
}
@media (max-width: 599px) {
  main .previews .preview {
    display: inline-block;
    padding: 10px 0;
    text-align: left;
  }
  main .previews .preview img {
    width: 100%;
  }
}
@media (min-width: 600px) and (max-width: 799px) {
  main .previews .preview {
    width: 50%;
    padding: 15px;
    float: left;
  }
  main .previews .preview:nth-of-type(2n+3) {
    clear: left;
  }
}
@media (min-width: 800px) {
  main .previews .preview {
    width: 33.3333%;
    padding: 15px;
    float: left;
  }
  main .previews .preview:nth-of-type(3n+4) {
    clear: left;
  }
}

@media (max-width: 599px) {
  .site-content {
    padding-bottom: 30px;
  }
}
@media (min-width: 600px) {
  .site-content {
    float: right;
    width: 75%;
    padding-left: 40px;
  }
}

@media (min-width: 600px) {
  .site-sidebar {
    float: left;
    width: 25%;
  }
}
.site-sidebar .site-sidebar-nav ul, .site-sidebar .site-sidebar-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-sidebar .site-sidebar-nav .page_item,
.site-sidebar .site-sidebar-nav .cat-item {
  margin: 1px 0 0 0;
}
.site-sidebar .site-sidebar-nav .page_item a,
.site-sidebar .site-sidebar-nav .cat-item a {
  color: black;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
.site-sidebar .site-sidebar-nav .page_item a:focus, .site-sidebar .site-sidebar-nav .page_item a:hover,
.site-sidebar .site-sidebar-nav .cat-item a:focus,
.site-sidebar .site-sidebar-nav .cat-item a:hover {
  /* background: mix($primary, #fff, 15%); */
  color: #669966;
}
.site-sidebar .site-sidebar-nav .page_item.current_page_item > a,
.site-sidebar .site-sidebar-nav .cat-item.current_page_item > a {
  color: #669966;
}
.site-sidebar .site-sidebar-nav .page_item .children a,
.site-sidebar .site-sidebar-nav .cat-item .children a {
  padding-left: 30px;
  padding: 10px;
}
.site-sidebar .site-sidebar-nav .page_item .children a:before,
.site-sidebar .site-sidebar-nav .cat-item .children a:before {
  content: '\2014\0020';
}
.site-sidebar .site-sidebar-nav .page_item .children .children a,
.site-sidebar .site-sidebar-nav .cat-item .children .children a {
  padding-left: 50px;
}

footer {
  background: #eee;
  text-align: center;
  padding: 10px 0;
}
