html, body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

h1, h2 {
    color: #669966;
    font-weight: 300;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

img {
    padding: 0;
    margin: 0;
    vertical-align:middle;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #669966;
}

a:hover {
    text-decoration: underline;
}

body {
    max-width: 1000px;
    margin: 0 auto;
}

header {
    text-align: center;
    padding:  0;
    margin: 0;
}

.banner {
    margin: 0;
    padding: 0;
}

footer {
    background: #eee;
    text-align:center;
    padding: 10px 0;
}